@font-face {
	font-family: 'fashion';
	src:url('../fonts/fashion.eot?-m26ski');
	src:url('../fonts/fashion.eot?#iefix-m26ski') format('embedded-opentype'),
		url('../fonts/fashion.woff?-m26ski') format('woff'),
		url('../fonts/fashion.ttf?-m26ski') format('truetype'),
		url('../fonts/fashion.svg?-m26ski#fashion') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'fashion';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-avotz:before {
	content: "\e600";
}
.icon-avotz2:before {
	content: "\e601";
}
.icon-libermall:before {
	content: "\e607";
}
.icon-search:before {
	content: "\e602";
}
.icon-menu:before {
	content: "\e603";
}
.icon-bookmark:before {
	content: "\e604";
}
.icon-googleplus:before {
	content: "\e605";
}
.icon-facebook:before {
	content: "\e606";
}
.icon-twitter:before {
	content: "\e608";
}
.icon-arrow-left:before {
	content: "\e609";
}
.icon-arrow-right:before {
	content: "\e60a";
}
