@media only screen and (min-height: 620px) 
	.copyright
		display block

@media only screen and (min-width: 480px)
	.category-readmore 
		bottom 250px
		font-size 0
	.title-overlay 
		bottom -85px
	.category-title
		color #000
	
@media (max-width: 979px)
	.form-contact
		input 
			margin-left 0
			width 94%
@media only screen and (min-width: 980px)
	.section-left
		width 315px
		transform translateX(0)
		
	.logo
		margin 20px auto;
		width 230px
	header
		width 260px
		left auto
	#btn_mobile
		display none

	.ca-nav
		top 20px
	.category-title
		font-size 60px
		padding 0 10%
		text-align right
	.label-container
		width 21.781115879828%
		margin-left 0

	.input-container
		width 73.927038626609%
		margin-left 4.2918454935622%
	
	.copyright
		left 10.5em

@media only screen and (min-width: 1200px)
	.productdetails
		.product-info
			width 50%
			float left
			margin-left 3.3444816053512%
		.main-image
			width 39.715719063545%
			float left
			margin-left 3.3444816053512%

@media only screen and (min-width: 1366px)
	.page
		padding 116px 75px 0

@media only screen and (min-width: 1600px)
	.productdetails
		.social-share
			margin-top 0
			float right

@media only screen and (max-width: 480px)
	.productdetails
		.product-info
			padding-top 10px 
		.product-inner
			padding 40px
		.product-name
			font-size 30px
		
	.page
		padding 75px 35px 0


@media only screen and (max-width: 1200px)
	.productdetails 
		.product-inner
			padding 0 40px



		
