/bootstrap/compiled.php
/vendor
/public/images_store
/public/public
/node_modules/
fashion.sublime-project
fashion.sublime-workspace
/public/.htaccess
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
